body {
  background-image: url("images/background.jpg");
  font-family: 'Montserrat', sans-serif;
  color: rgb(120, 150, 185);
  font-size: 14px;
  line-height: 20px;
}

h2, h3, h4 {
  color: rgba(145, 145, 145, 0.9);
}

h1 {
  font-family: 'Bitter', serif;
  font-size: 24px;
  color: rgb(120, 150, 185);
}

a {
  color: rgb(145, 145, 145);
}

a:hover {
  color: rgb(120, 150, 185);
}

ul {
  list-style-type: none;
}

.icone {
  font-size: 50px;
  display: inline-block;
  letter-spacing: 20px;
}

.container {
  width: 500px;   /* This sets the width */
  margin: 20px auto; /* This automatically sets left/right margins */
  background-color: white;
  padding: 20px 15px ;
  border-radius: 1%;
}

.img_size {
  width: 260px;
  margin: 20px;
}

#profile_picture {
  border-radius: 50%;
  width: 170px;
  margin: 0 auto;
  padding: 0px;
  border: 5px solid;
  border-color: rgba(120, 150, 185, 0.7);

}

.displayed {
    text-align: center;
  }


